# Flutter / Dart 构建文件
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
devtools_options.yaml
build/
coverage/
.hvigor/

# ide产生的构建文件
.idea/
*.iml

# 平台构建文件
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
ohos/.signing/

# OS
.DS_Store

# 三方插件的非源码文件
third_party/openharmony/**/example/
third_party/openharmony/**/test/
third_party/openharmony/**/README*
third_party/openharmony/**/CHANGELOG*
third_party/openharmony/**/AUTHORS
third_party/openharmony/**/OAT.xml
third_party/openharmony/**/extension/
third_party/openharmony/**/tool/
