# Server
SERVER_PORT=8085

# OneNET API
ONENET_PRODUCT_ID=
ONENET_AUTHORIZATION=
ONENET_PROPERTY_SET_URL=https://iot-api.heclouds.com/thingmodel/set-device-property
ONENET_PROPERTY_GET_URL=https://iot-api.heclouds.com/thingmodel/query-device-property
ONENET_TIMEOUT_MS=10000

# OneNET Pulsar
ONENET_PULSAR_BROKER_URL=pulsar+ssl://iot-north-mq.heclouds.com:6651/
ONENET_PULSAR_ACCESS_ID=
ONENET_PULSAR_SECRET_KEY=
ONENET_PULSAR_SUBSCRIPTION_NAME=
ONENET_PULSAR_AUTO_OPEN_DASHBOARD=false

# App login
APP_LOGIN_USERNAME=root
APP_LOGIN_PASSWORD=change_me

# Optional user store
APP_USER_STORE_MODE=memory
APP_USER_STORE_JDBC_URL=
APP_USER_STORE_USERNAME=
APP_USER_STORE_PASSWORD=

# Optional app switches
APP_AI_MAX_HISTORY=100
APP_LOGS_FILE=/var/log/iot-onenet/platform-events.jsonl
APP_LOGS_MAX_IN_MEMORY=500
APP_VIDEO_AVAILABLE=false
APP_VIDEO_DEFAULT_STREAM_ID=k230
APP_VIDEO_DEFAULT_DEVICE_ID=k230
APP_VIDEO_DISPLAY_NAME=K230 live stream
APP_VIDEO_GATEWAY_PAGE_URL=http://101.35.79.76:1984/
APP_VIDEO_PLAYER_URL=http://101.35.79.76:1984/stream.html?src=k230&mode=webrtc,mse
APP_VIDEO_PREFERRED_MODE=webrtc
APP_VIDEO_FALLBACK_MODE=mse
APP_VIDEO_PUBLIC_HOST=101.35.79.76
APP_VIDEO_WEBRTC_PORT=8555

# JVM
JAVA_BIN=/usr/bin/java
JAVA_OPTS=-Xms256m -Xmx512m -XX:+UseG1GC -Dfile.encoding=UTF-8
